spring.application.name=news
spring.jpa.open-in-view=false

spring.flyway.enabled=true
spring.flyway.schemas=news_feed

spring.jpa.properties.hibernate.jdbc.batch_size=25
spring.jpa.properties.hibernate.order_updates=true
spring.jpa.properties.hibernate.order_inserts=true
spring.jpa.properties.hibernate.generate_statistics=true
spring.jpa.properties.hibernate.jdbc.batch_versioned_data=true

spring.profiles.active=dev

api.version=v1

spring.jpa.hibernate.ddl-auto=<CREATE_OR_UPDATE_OR_VALIDATE>
spring.jpa.show-sql=true

spring.datasource.url=jdbc:postgresql://<YOUR_DB_HOST>:5432/<YOUR_DB_NAME>
spring.datasource.username=<YOUR_DB_USERNAME>
spring.datasource.password=<YOUR_DB_PASSWORD>
spring.datasource.driver-class-name=org.postgresql.Driver

jwt.secret = <SECRET>
jwt.expiration = <TIME>

files.shelter.path=<PATH>